.page.page-id-507 {
  #wrapper {
    header {
      h1.logo {
        a {
          position:relative;
          margin:5px auto 0;
        }
      }
    }
    
    #content {
      height:670px;
      padding-top:10px;
      
      .gallery {
        position:relative;
        
        .gallery-thumbs {
          position:absolute;
          top:0;
          left:0;
          width:930px;
          z-index:20;
          @include opacity(0.7);
          background:rgba(0, 0, 0, 0.25);

          .lt-ie9 & {
            background:#000;
          }
          
          &:hover {
            @include opacity(1);
          }
          
          ul {
            margin:10px 10px 0;
            *zoom:1;
            
            &:before,
            &:after {
              display:table;
              line-height:0;
              content:"";
            }
            
            &:after {
              clear:both;
            }
          }
          
          a {
            width:50px;
            height:50px;
          }
        } // .gallery-thumbs
        
        .gallery-slider {
          position:absolute;
          left:0;
          top:70px;
          z-index:19;

          .lt-ie9 & {
            margin:0;
            padding:0;
          }
          
          li {
            width:930px;
            height:580px;
            overflow:hidden;
            
            img {
              width:100%;
              cursor:pointer;
            }
          }
        } // .gallery-slider
      }
    }
  }
}