// Generic styles

html {
  font-size: 62.5%;
  /* 16px * 62.5% = 10px */
}

// Head

body {
  background: #fff url('../img/bg-body.jpg') repeat-x;
  color: #131313;
  font: {
    family: $main;
    size: 1.4em;
    smooth: always; // enable Mozilla font antialiasing
  }
  margin:0;
  text-rendering: optimizeLegibility; // enable kerning and ligatures
  -webkit-font-smoothing: subpixel-antialiased; // enable Webkit font antialiasing
}

a {
  color: $blue;
  text-decoration: none;

  &:hover { 
    color:$blue_lighter;
  }
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;

  &.align-left {
    float:left;
    margin:0 10px 10px 0;
  }
  
  &.align-right {
    float:right;
    margin:0 0 10px 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font: {
    weight: normal;
    family: $headings;
  }
  margin:0 0 15px;
  line-height: 1em;
  letter-spacing: -.03em;
  text-rendering: optimizeLegibility;
}

h4 { font-size: 1.8em }
h3 { font-size: 2.1em }
h2 { font-size: 3.6em }
h1 { font-size: 4.8em; margin-bottom: 0.1em; }

sup {
  vertical-align: super;
  font-size: 0.6em;
}

small {
  font-size: 0.8em;
}

// Header

header {
  position:relative;
  //padding: 5px;

  h1.logo {
    margin:7px 0 0;
    float: left;
    font-size: 5em;
    @include perspective(0);

    a {
      text-decoration: none;
      @include transition(text-shadow 0.5s ease);

      span {
        font-size: 0.75em;
      }

      &:hover {
        @include text-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
      }
    }
  } // h1.logo

  #language {
    float: right;
    margin: 10px 0 0 30px;
    padding: 10px;
    background:rgba(255, 255, 255, 0.4);
    @include border-radius(4px);

    ul {
      padding: 5px;

      li {
        margin-bottom: 7px;
        @include opacity(0.4);

        &.current-menu-item,
        &:hover {
          @include opacity(1);
        }

        &.last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  
  #main_partner {
    float: right;
    
    a {
      text-decoration: none;
    }
  }
} // header

.raspberry_hack {
  height: 390px;
  margin-bottom: 5px;

  .wrapper {
    height: 100%;
    
    @media screen and (min-width: 880px) {
      background: url('../img/raspberry-pi-layout.png') center right no-repeat;
    }

    @media screen and (max-width: 879px) {
      text-align: center;
    }
  }

  h2 {
    color: $raspberry;

    @media screen and (min-width: 880px) {
      font-size: 7.5em;
    }

    @media screen and (max-width: 879px) {
      font-size: 6em;
    }
  }

  h1 {
    letter-spacing: -0.03em;
    line-height: 0.5em;

    @media screen and (min-width: 880px) {
      font-size: 13.4em;
    }

    @media screen and (max-width: 879px) {
      font-size: 11em;
    }
  }

  h3 {
    font-family: $main;
    text-indent: 0.25em;
    line-height: 0.8em;

    @media screen and (min-width: 880px) {
      font-size: 3.85em;
    }

    @media screen and (max-width: 879px) {
      font-size: 3.4em;
    }
  }

  h4 {
    font-family: $main;
    text-indent: 0.5em;
    margin-bottom: 1em;

    @media screen and (min-width: 880px) {
      font-size: 1.85em;
      font-size: 1.95em \9; // target IE 9
    }

    @media screen and (max-width: 879px) {
      font-size: 1.65em;
      line-height: 0.6em;
    }
  }

  p {
    &.register {
      a {
        padding: 0.25em 1.6em;
        padding: 0.25em 1.4em \9; // target IE 9
        color:#fff;
        text-decoration: none;
        font-weight: 700;
        margin-left: 0.5em;

        @media screen and (min-width: 880px) {
          font-size: 1.5em;
        }

        @media screen and (max-width: 879px) {
          font-size: 1.2em;
          margin-right: 0.5em;
        }

        @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
        @include border-radius(5px);
        @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.75));

        background-color: rgb(240,68,114); // Old browsers
        .lt-ie9 & {
          @include filter-gradient(#f04472, #c60616, vertical); // IE6-8
        }
        $experimental-support-for-svg: true;
        @include background-image(linear-gradient(top,  rgba(240,68,114,1) 0%,rgba(223,29,74,1) 2%,rgba(228,32,71,1) 3%,rgba(227,33,69,1) 5%,rgba(226,30,69,1) 8%,rgba(227,27,64,1) 18%,rgba(222,24,60,1) 29%,rgba(218,20,46,1) 48%,rgba(210,14,37,1) 63%,rgba(215,19,42,1) 77%,rgba(220,22,45,1) 81%,rgba(219,23,49,1) 85%,rgba(216,20,43,1) 90%,rgba(209,11,27,1) 97%,rgba(198,6,22,1) 100%));

        &:hover {
          background-color: rgb(242,94,134); // Old browsers
          .lt-ie9 & {
            @include filter-gradient(#f25e86, #f81427, vertical); // IE6-8
          }
          $experimental-support-for-svg: true;
          @include background-image(linear-gradient(top,  rgba(242,94,134,1) 0%,rgba(231,69,107,1) 2%,rgba(233,73,105,1) 3%,rgba(232,74,103,1) 5%,rgba(232,72,104,1) 8%,rgba(233,69,99,1) 18%,rgba(234,62,93,1) 29%,rgba(237,53,78,1) 48%,rgba(240,42,65,1) 63%,rgba(237,51,73,1) 77%,rgba(236,58,79,1) 81%,rgba(235,59,83,1) 85%,rgba(237,53,75,1) 90%,rgba(244,36,54,1) 97%,rgba(248,20,39,1) 100%));
        }
      }
    } // &.register

    &.raspberry {
      @media screen and (min-width: 880px) {
        float: right;
        position: relative;
        top: -55px;
        right:15px;
      }

      @media screen and (max-width: 879px) {
        margin-top: 15px;
      }
    } // &.raspberry
  }
} // .raspberry_hack

// Content

.wrapper {
  @include clearfix;

  @media screen and (min-width: 1001px) {
    width:1000px;
    margin:0 auto;
  }

  @media screen and (max-width: 1000px) {
    width:100%;
    margin:0;
  }
}

#content {
  background:$blue_lightest;
  position:relative;
  margin:0 auto;
  top:-20px;
  border-bottom:1px solid $cyan;
  @include clearfix;
  //@include baseline;

  @media screen and (min-width: 1001px) {
    width:950px;
    padding: 1.65em 15px;
  }

  @media screen and (max-width: 1000px) {
    width:95%;
    padding: 1.8em 2%;
  }

  #main_content {
    float: left;

    @media screen and (min-width: 750px) {
      &.gold {
        width: ((100% / $golden_ratio) - 0.5);
      }

      &.full {
        width: 100%;
      }
      
      margin-right: 1.5%;
    }

    @media screen and (max-width: 749px) {
      width: 100%;
    }

    hr {
      color: $raspberry;
      background-color: $raspberry;
      border-bottom:1px solid lighten($raspberry, 35%);
      height: 1px;
      width: 90%;
      margin:24px auto;
    }
  }

  // Sidebar

  #sidebar {
    float: left;

    @media screen and (min-width: 750px) {
      width: (100% - (100% / $golden_ratio) - 1);
    }
    
    @media screen and (max-width: 749px) {
      width: 100%;
    }

    .previous {
      height: 33px;
      padding:2%;
      margin-bottom: 24px;
      text-align: center;

      a {
        font: {
          family: $headings;
          size:2.2em;
        }
        line-height: 2em;
      }
    }

    .module {
      background: #fff;
      text-align: center;
      padding: 3%;
      margin-bottom: 24px;
      border: {
        top: 1px solid #00a4ed;
        right: 1px solid #00a4ed;
        bottom: 3px solid #00a4ed;
        left: 3px solid #00a4ed;
      }

      &.small {
        height: 30px;
        padding:2%;
      }

      &.double {
        height:71px;
      }

      h4 {
        font-size: 2em;
        line-height: 1.5em;
      }

      h5 {
        font-size: 1.7em;
      }

      &.prevs {
        p {
          margin-top: 1em;
        }

        .prev_hackover {
          font: {
            family: $headings;
            size:3em;
          }
          text-transform: uppercase;
          
          a {
            color: #000;

            &:hover {
              text-decoration: none;
            }
          }
        }
      } // .prevs

      .parteneri {
        margin:0 auto 30px;
        max-width: 250px;
        text-align: center;
        &:last-child { margin-bottom:0 }
        
        .sustinatori {
          display:block;
          margin:0 auto;
        }
      }

      ul.tssw-list {
        margin: 0 10px 10px;
      }
    }
  }

  ol, ul {
    margin:0 0 10px 25px;
  }
}

// Footer
footer {
  text-align:center;
  font-size:13px;
  margin-bottom: 10px;
  
  .note { margin:5px 0 }
}