@mixin baseline() {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 93%, #ff0000 95%, #ffffff 97%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(93%,#ffffff), color-stop(95%,#ff0000), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 93%,#ff0000 95%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 93%,#ff0000 95%,#ffffff 97%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 93%,#ff0000 95%,#ffffff 97%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 93%,#ff0000 95%,#ffffff 97%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background-size: 100% 24px;
  background-repeat: repeat-y;
}