// Nav ------------------------------------------------------------------
nav {
  height:83px;
  position:relative;
  z-index:100;

  .wrapper {
    overflow: visible;
  }
  
  ul {
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    height:63px;
    @include clearfix;

    @include border-radius(5px);
    @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.75));

    background-color: rgb(68,189,234); // Old browsers
    .lt-ie9 {
      @include filter-gradient(#44bdea, #076abb, vertical); // IE6-8
    }
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  rgba(68,189,234,1) 0%,rgba(36,156,208,1) 2%,rgba(36,154,215,1) 3%,rgba(37,152,215,1) 5%,rgba(37,153,210,1) 8%,rgba(34,149,212,1) 18%,rgba(30,144,207,1) 29%,rgba(25,132,204,1) 48%,rgba(17,123,199,1) 63%,rgba(24,128,201,1) 77%,rgba(28,132,205,1) 81%,rgba(29,133,204,1) 85%,rgba(25,129,202,1) 90%,rgba(13,114,196,1) 97%,rgba(7,106,187,1) 100%));
    
    li {
      float:left;

      @media screen and (min-width: 1001px) {
        width:(1000px / 6);
      }

      @media screen and (max-width: 1000px) {
        width:(100% / 6);
      }
      
      a {
        display:block;
        height:41px;
        padding-top:1.2em;
        text-align:center;
        color:#fff;
        font-size:1.3em;
        @include text-shadow(0 1px 2px #000);

        border-right: 1px solid rgba(38, 159, 231, 0.8);
        @include box-shadow(inset -1px 0 0 rgba(20, 79, 133, 0.8));
        
        &:hover {
          color: #fff;
          text-decoration: none;
          background: rgba(255, 255, 255, 0.25);
        }
      }

      &.current-menu-item {
        a {
          color: #fff;
          text-decoration: none;
          background: rgba(255, 255, 255, 0.25);
        }
      }

      &:last-child {
        a {
          border-right:none;
          @include box-shadow(none);
        }
      }
    } // li
  } // ul

  @media screen and (max-width: 615px) {
    height: auto;

    ul {
      height: auto;

      li {
        float:none;
        width: 100%;

        a {
          border-right: none;
          border-bottom: 1px solid rgba(38, 159, 231, 0.8);
          @include box-shadow(inset 0 -1px 0 rgba(20, 79, 133, 0.8));
        }

        &:last-child {
          a {
            border:none;
            @include box-shadow(inset 0 -1px 3px rgba(0, 0, 0, 0.5))
          }
        }
      }
    }
  }
}