.home { 
  #main_content {
    h3 {
      line-height: 24px;
      margin-bottom: 22px;
      font: {
        family: $main;
        size: 1.8em;
      }
    }

    h1 {
      color: $raspberry;
      line-height: 1.15em;
      font-size: 6em;
      margin-bottom: 0.15em;
    }

    h2 {
      font-size: 3.1em;
      line-height: 1.1em;
      margin-bottom: 22px;
    }

    p {
      font-size: 1.3em;
      line-height: 1.3em;
      margin-bottom: 24px;
    }
  } // #main_content
} // .home

.page,
.single { 
  #main_content {
    margin-top: 0.3em;

    #breadcrumbs {
      font-size: 1.1em;

      .item {
        display: inline-block;
      }
    }

    h3 {
      line-height: 24px;
      margin-bottom: 24px;
      font: {
        family: $headings;
        size: 2.2em;
      }
    }

    p {
      font-size: 1.3em;
      line-height: 24px;
      margin-bottom: 24px;
    }

    .ui-tabs-panel {
      p {
        font-size: 1em;
        line-height: 1em;
        margin-bottom: 1em;
      }

      ul {
        li {
          font-size: 1em;
          line-height: 1em;
          margin-bottom: 1em;
        }
      }
    } 

    ul, ol {
      margin: 0 0 24px 24px;
      padding: 0;

      li {
        font-size: 1.3em;
        line-height: 24px;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.ui-tabs-nav {
        margin: 0;
        padding: .2em .2em 0;
        background-color: #e2e2e2; // Old browsers
        .lt-ie9 & {
          @include filter-gradient(#e2e2e2, #fefefe, vertical); // IE6-8
        }
        $experimental-support-for-svg: true;
        @include background-image(linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%));

        li {
          font-size: 1em;
          line-height: 1em;
          margin-bottom: 0;

          a {
            padding: 0.5em;
          }

          &.ui-state-active {
            margin-bottom: -1px;
            font-weight:700;

            a {
              color: $raspberry;
            }
          }
        }
      }
    } // ul, ol

    ul {
      li {
        position: relative;

        &::before {
          content: '\2586';
          position: absolute;
          left: -24px;
          top: -3px;
          color: $blue;
          @include text-shadow(1px 1px 0 $blue_lighter);
        }
      }

      &.ui-tabs-nav {
        li {
          &::before {
            content: none;
          }
        }
      }

      ol {
        counter-reset: item; 
        margin-top: 10px;

        li {
          font-size: 1em;
          line-height: 0.7em;
          margin-bottom: 10px;

          &::before {
            counter-increment: item;
            content: counter(item);
          }
        }
      }

      &.lista-anterioare {
        li {
          border-bottom: 1px solid $blue_lighter;
          padding-bottom: 10px;
          margin-bottom: 14px;

          &::before {
            content: '\25B6';
          }

          &:hover {
            background: #fff;
          }
        }
      }
    } // ul

    blockquote {
      padding: 23px;
      background: $cyan;
      border: {
        top:1px solid $blue_lighter;
        right:1px solid $blue_lighter;
        bottom:2px solid $blue_lighter;
        left:2px solid $blue_lighter;
      }
      @include box-shadow(0 0 6px rgba(0, 0, 0, 0.75));

      h3, p, li {
        color: #fff;

        strong {
          color: $blue_lightest;
        }
      }

      a {
        color: $blue;
        font-weight: 700;

        &:hover {
          color: $blue_lighter;
        }
      }
    }

    .yks-mailchimpFormContainer {
      .yks-mailchimpFormDiv {
        width: 80%;
        margin: 0 auto;
        font-size: 1.2em;

        .yks-mailchimpFormDivRow {
          .yks-mailchimpFormDivRowLabel {
            margin-bottom: 5px;
            font-weight: 700;
          }

          .yks-mailchimpFormDivRowField {
            width: 100%;
            margin-bottom: 10px;

            input[type="text"] {
              width: 100%;
            }

            .option {
              float: left;
              margin: 0 20px 10px 0;

              input[type="radio"],
              input[type="checkbox"] {
                vertical-align: baseline;
                margin-right: 5px;
              }
            }
          }
        }
      }

      .yks-success {
        padding: 10px;

        p {
          margin-bottom: 0;
        }
      }
    }
  } // #main_content
} // .home

#ip_list {
  margin: 0 auto;

  tr {
    &:hover {
      background: $raspberry;
      color:#fff;
    }

    td {
      padding: 5px 15px;
      border: 1px solid #ccc;
    }
  }
}