.voting_proiecte {
	#content {
		top: 0;
		width:80%;
		padding: 1% 5%;

		h2.title,
		h4.subtitle,
		p.details,
		p.backlink {
			text-align: center;
		}

		p.details {
			font-size: 1.3em;
			margin-bottom: 1em;
		}

		p.backlink {
			font-size: 1.2em;
			margin-top: 2em;

			a {
				color: #fff;
				padding: 0.25em 0.75em;
				@include border-radius(5px);
				background-color: rgb(68,189,234); // Old browsers
			    .lt-ie9 {
			      @include filter-gradient(#44bdea, #076abb, vertical); // IE6-8
			    }
			    $experimental-support-for-svg: true;
			    @include background-image(linear-gradient(top,  rgba(68,189,234,1) 0%,rgba(36,156,208,1) 2%,rgba(36,154,215,1) 3%,rgba(37,152,215,1) 5%,rgba(37,153,210,1) 8%,rgba(34,149,212,1) 18%,rgba(30,144,207,1) 29%,rgba(25,132,204,1) 48%,rgba(17,123,199,1) 63%,rgba(24,128,201,1) 77%,rgba(28,132,205,1) 81%,rgba(29,133,204,1) 85%,rgba(25,129,202,1) 90%,rgba(13,114,196,1) 97%,rgba(7,106,187,1) 100%));
			    @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.75));

			    &:hover {
			    	color: lighten($raspberry, 25%);
			    }
			}
		}
	}

	.error {
		background: #c00;
		color: #fff;
		text-align: center;
		padding: 5px;
	}
}

#projects_list {
	margin-top: 15px;

	#reset {
		margin:10px 0 15px;
		text-align: right;

		span {
			color: #fff;
			padding: 0.25em 1em;
			border:none;
			@include border-radius(5px);
			@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.75));
			background-color: rgb(240,68,114); // Old browsers
		    .lt-ie9 & {
		      @include filter-gradient(#f04472, #c60616, vertical); // IE6-8
		    }
		    $experimental-support-for-svg: true;
		    @include background-image(linear-gradient(top,  rgba(240,68,114,1) 0%,rgba(223,29,74,1) 2%,rgba(228,32,71,1) 3%,rgba(227,33,69,1) 5%,rgba(226,30,69,1) 8%,rgba(227,27,64,1) 18%,rgba(222,24,60,1) 29%,rgba(218,20,46,1) 48%,rgba(210,14,37,1) 63%,rgba(215,19,42,1) 77%,rgba(220,22,45,1) 81%,rgba(219,23,49,1) 85%,rgba(216,20,43,1) 90%,rgba(209,11,27,1) 97%,rgba(198,6,22,1) 100%));

		    &:hover {
		    	cursor: pointer;
		    	background-color: rgb(242,94,134); // Old browsers
				.lt-ie9 & {
					@include filter-gradient(#f25e86, #f81427, vertical); // IE6-8
				}
				$experimental-support-for-svg: true;
				@include background-image(linear-gradient(top,  rgba(242,94,134,1) 0%,rgba(231,69,107,1) 2%,rgba(233,73,105,1) 3%,rgba(232,74,103,1) 5%,rgba(232,72,104,1) 8%,rgba(233,69,99,1) 18%,rgba(234,62,93,1) 29%,rgba(237,53,78,1) 48%,rgba(240,42,65,1) 63%,rgba(237,51,73,1) 77%,rgba(236,58,79,1) 81%,rgba(235,59,83,1) 85%,rgba(237,53,75,1) 90%,rgba(244,36,54,1) 97%,rgba(248,20,39,1) 100%));
		    }
		}
	}

	article {
		@include border-radius(5px);
		background-color: rgb(68,189,234); // Old browsers
	    .lt-ie9 {
	      @include filter-gradient(#44bdea, #076abb, vertical); // IE6-8
	    }
	    $experimental-support-for-svg: true;
	    @include background-image(linear-gradient(top,  rgba(68,189,234,1) 0%,rgba(36,156,208,1) 2%,rgba(36,154,215,1) 3%,rgba(37,152,215,1) 5%,rgba(37,153,210,1) 8%,rgba(34,149,212,1) 18%,rgba(30,144,207,1) 29%,rgba(25,132,204,1) 48%,rgba(17,123,199,1) 63%,rgba(24,128,201,1) 77%,rgba(28,132,205,1) 81%,rgba(29,133,204,1) 85%,rgba(25,129,202,1) 90%,rgba(13,114,196,1) 97%,rgba(7,106,187,1) 100%));
	    @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.75));
		padding: 1em;
		margin-bottom: 1.5em;
		position: relative;

		h1 {
			font-size: 2.3em;
			margin: 0 0 0.5em;
			color: #fff;
			
			a {
				color: #fff;

				&::after {
					content: '\21E8';
					font-family: Arial, sans-serif;
					margin-left: 10px;
				}
			}
		}

		.authors {
			background: #fff;
			padding: 8px;
			@include border-radius(3px);
			@include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.75));

			.name {
				white-space: nowrap;
				padding: 1px 10px;
				background:lighten($raspberry, 40%);
				@include border-radius(10px);

				&:hover {
					background: $blue_lighter;
					color: #fff;
				}
			}
		}

		.description {
			@extend .authors;
			margin-top: 1em;
			font-size: 1.2em;
		}

		.more {
			position: absolute;
			top: 10px;
			right: 10px;
			background:#fff;
			padding: 2px 6px;
			@include border-radius(50%);
			@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.75));
			@include transition(all 500ms ease);
			font: {
				size:1.5em;
				weight:700;
			}

			a {
				color: #131313;

				&:hover {
					color: $raspberry;
				}
			}

			&.close {
				@include transform-origin(50%, 50%, 0);
				@include transform3d(rotate(45deg));
			}
		}

		.votes {
			@extend .authors;
			@include border-radius(20px);
			position: absolute;
			top: 10px;
			right: 50px;
			padding: 4px 13px;
			font-size: 1.3em;

			span {
				font-weight: 700;
			}

			label {
				margin-left: 10px;
				font-weight: 700;

				&:hover {
					cursor: pointer;
				}
			}

			input[type="radio"]:hover {
				cursor: pointer;
			}
		}
	}

	input[type="submit"] {
		float: right;
		padding: 5px 15px;
	}
}

#scanner {
	margin: 20px auto 0;
	width: 320px;
}

#charts {
	margin-bottom: 20px;

	.bar_container {
		@include clearfix;
		background:rgba(0, 0, 0, 0.1);
		border:1px solid rgba(0, 0, 0, 0.5);
		@include border-radius(3px);
		@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.65));
		margin-bottom: 5px;
		position: relative;

		.title,
		.points,
		.bar {
			float: left;
		}

		.title {
			$width: 200px;

			width: $width;
			padding: 5px;
			color: rgba(0, 0, 0, 0.85);
			font: {
				size: 1em;
				weight:700;
			}
			@include border-radius(2px);
			@include box-shadow(0 0 4px rgba(0, 0, 0, 0.65));
			background-color: #f2f2f2; // Old browsers
			.lt-ie9 & {
				@include filter-gradient(#f2f2f2, #eaeaea, vertical); // IE6-8
			}
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top,  #f2f2f2 0%,#e5e5e5 50%,#d6d6d6 51%,#eaeaea 100%));
			position: relative;
			z-index: 10;

			span {
				@include ellipsis;
				width: ($width - 60);
				display: inline-block;
				@include text-shadow(0 2px 1px rgba(255, 255, 255, 1));
			}

			.points {
				position: absolute;
				right: 4px;
				top: 2px;
				bottom: 2px;
				padding: 2px 5px;
				color: rgba(255, 255, 255, 0.85);
				@include text-shadow(0 1px 1px rgba(0, 0, 0, 0.75));
				font: {
					size: 1em;
					weight:700;
				}
				@include border-radius(3px);
				@include box-shadow(inset 0 0 3px rgba(0, 0, 0, 0.85));
				background-color: #1e5799; // Old browsers
				.lt-ie9 & {
					@include filter-gradient(#1e5799, #7db9e8, vertical); // IE6-8
				}
				$experimental-support-for-svg: true;
				@include background-image(linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%));
			}
		}

		.bar {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			z-index: 9;
			@include border-radius(3px);
			@include box-shadow(0 0 15px $blue_lightest);
			background-color:$blue_lighter;
			@include background-size(80px 80px);
			.lt-ie9 & {
				@include filter-gradient(#000, #000, horizontal); // IE6-8 fallback on horizontal gradient
			}
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%));

			&.maximum {
				background-color:$raspberry;
			}
		}
	}
}