$main: 			'Source Sans Pro', Verdana, sans-serif;
$headings: 		'CabinSketchRoBold', 'Ubuntu', Arial, sans-serif;

$blue:          #003d79;
$blue_lighter:  lighten($blue, 15%);
$blue_lightest: #ebf4fa;
$raspberry: 	#d6264f;
$cyan: 			#00a4ed;

$golden_ratio: 	1.61803398875;